<%= form_for [book, @comment], html: {id: "new_message"}, remote: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field col-sm-10">
    <%= f.text_field :content, placeholder: t("comments.comment"), class: "message_content" %>
  </div>
  <div class="field col-sm-2">
    <%= f.submit t("comments.comment") %>
  </div>
  </br>
<% end %>
