<div class="stats">
  <%= link_to follow_books_path @book do %>
    <strong id="followers" class="stat">
      <%= @book.follow_books.count %>
    </strong>
    <%= t "users.followers" %>
  <% end %>
</div>
