<%= form_for follow_book, remote: true do |f| %>
  <div><%= hidden_field_tag :book_id, @book.id %></div>
  <%= f.button type: "submit", class: "margin5" do %>
    <i class="fas fa-bell"> <%= t "users.follow" %></i>
  <% end %>
<% end %>
